body{
    background-color: bisque;
    margin: 15px;
    color: #000;
    width: auto;
}
#titulo{
    margin: auto;
    border-bottom: 1px solid #000;

}
.logo{
    border-radius: 50%;
    max-width: 25%;
}
.mododePreparo{
    border-top: 2px dotted #000;
    padding-top: 15px;

}
.lista{
    border: 1px solid #000;
    border-radius: 3px;
    color:#000;
    background-color: aliceblue;
    padding: 30px;
}
.mododePreparocontent{
    border: 1px solid #000;
    border-radius: 3px;
    color: #000;
    background-color: aliceblue;
    padding: 15px;
}